.boardContent{
	border:1px solid black;
	min-height:500px;
	margin-left:50px;
	margin-right:50px;
	margin-top: 50px;
	border-radius: 5px;
}

.comment{
	
	padding-top: 50px;
	
	
}

.content{
	border:1px solid black;
	min-height: 200px;
}

.container{
	border:1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	padding: 0;
}

.container>input[type=text]{
	width: 80%;
}
.container>input[type=submit]{
	width: 20%;
}