#buttons{
	float:right;
	height: 100%;
	padding-top: 10px;
}

#logo{
	float:left;
	height: 100%;
	padding-top: 10px;
}

#menuBar{
	background-color: black;
	height: 50px;
}

#munuBar div{
	cursor:pointer;
	background-color:white;
}