<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woo.cookBlog.mapper.BoardMapper">
	<select id="selectBoardBySeq" resultType="com.woo.cookBlog.DTO.BoardDTO" parameterType="Integer">
		select * from board where seq= #{no}
	</select>
	
	<insert id="insertBoard" parameterType="com.woo.cookBlog.DTO.BoardDTO">
		INSERT INTO board(id,content,title) values(#{id},#{content},#{title})
	</insert>
	
	<select id="selectBoard" resultType="hashmap" parameterType="Integer">
		select * from board LIMIT #{ start }, #{ cnt }
	</select>
	
</mapper>